{{!
    The explanation for a prime factorization question.
    
    All inputs are a string and required:
        * firstFactorValue
        * firstFactorCompleteDisplay
        * secondFactorValue
        * secondFactorCompleteDisplay
        * functionName
        * thirdFactorCompleteDisplay
        * thirdFactorDisplay
}}

<table class='explanation'>
    <tbody>
        <tr>
            <td>{{{firstFactorValue}}}</td>
            <td>=</td>
            <td>{{{firstFactorCompleteDisplay}}}</td>
        </tr>
        <tr>
            <td>{{{secondFactorValue}}}</td>
            <td>=</td>
            <td>{{{secondFactorCompleteDisplay}}}</td>
        </tr>
        <tr>
            <td>{{{functionName}}}({{{firstFactorValue}}}, {{{secondFactorValue}}})</td>
            <td>=</td>
            <td>{{{thirdFactorCompleteDisplay}}}</td>
            <td>=</td>
            <td>{{{thirdFactorDisplay}}}</td>
        </tr>
    </tbody>
</table>