{{!
    The expression output for a prime factorization question.
    
    All inputs are a string and required:
        * functionName
        * firstFactorValue
        * firstFactorDisplay
        * secondFactorValue
        * secondFactorDisplay
}}

<div>{{{functionName}}}({{{firstFactorValue}}}, {{{secondFactorValue}}})</div>
<div class='helper-expression'>{{{firstFactorValue}}} = {{{firstFactorDisplay}}}</div>
<div class='helper-expression'>{{{secondFactorValue}}} = {{{secondFactorDisplay}}}</div>