<div class='open-function'></div>
<div class='open-{{floorOrCeil}}'></div>
<div class='fraction {{floorOrCeil}}-fraction'>
    <div class='numerator'>{{numerator}}</div>
    <div class='denominator'>{{denominator}}</div>
</div>
<div class='close-{{floorOrCeil}}'></div>
