<div class="loopSim" id="loopSim{{id}}">
    <div class="code">
        <pre style="color: #000000;">i <span style="color: #808030;">=</span> <span style="color: #008c00;"><input id="loopSim_init{{id}}" maxlength="7" size="5" type="text" autocorrect="off" autocapitalize="off"></span>
<span style="color: #800000; font-weight: bold;">while</span> i <input id="loopSim_relOp{{id}}" maxlength="7" size="5" type="text" autocorrect="off" autocapitalize="off"> <input id="loopSim_compVal{{id}}" maxlength="7" size="5" type="text" autocorrect="off" autocapitalize="off"><span style="color: #808030;">:</span>
   <span id="loopSim_langCode{{id}}"></span>
   i <span style="color: #808030;">=</span> i <input id="loopSim_incOp{{id}}" maxlength="7" size="5" type="text" autocorrect="off" autocapitalize="off"> <span style="color: #008c00;"><input id="loopSim_incVal{{id}}" maxlength="7" size="5" type="text" autocorrect="off" autocapitalize="off"></span>
</pre>
    </div>
    <button id="loopSim_runCodeButton{{id}}" class="button">Run code</button>
    <div>Output is: <div id="loopSim_output{{id}}" class="console">Awaiting your input...</div></div>
</div>