<div class='logExprSim' id='logExprSim{{id}}'>
    <div class='code'>
        <pre style='color:#000000;'><span class='remove-for-matlab'><span style='color:#800000; font-weight:bold; '>int</span> </span>x <span style='color:#808030; '>=</span> <input id='logExprSim_var1{{id}}' type='text' spellcheck='false' maxlength='10' size='10' value='7' autocorrect='off' autocapitalize='off'><span style='color:#800080; '>;</span>
<span class='remove-for-matlab'><span style='color:#800000; font-weight:bold; '>int</span> </span>y <span style='color:#808030; '>=</span> <input id='logExprSim_var2{{id}}' type='text' spellcheck='false' maxlength='10' size='10' value='5' autocorrect='off' autocapitalize='off'><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>if </span><span style='color:#808030; '>(</span><input id='logExprSim_expr{{id}}' type='text' maxlength='150' size='50' autocorrect='off' autocapitalize='off'><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
   <span style='color:#696969; '>...</span>
<span style='color:#800080; '>}</span>
</pre>
    </div>
    <button id='logExprSim_runCodeButton{{id}}' class='button'>Run code</button>
    <br>
    <div style='font-weight:bold'>Output is:</div>
    <table>
        <tbody>
            <tr>
                <td>
                    <div id='logExprSim_output{{id}}' class='console'>Awaiting your input...</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>