<div class="expression-area">
    <table>
        <tr>
            <td>
                <div class="no-denominator">
                    (<!--
                    --><span class="x-variable-constant-1"></span><!--
                    -->x<!--
                    --><sup><span class="x-variable-exponent-1"></span></sup><!--
                    --><span class="y-variable-constant-1"></span><!--
                    -->y<!--
                    --><sup><span class="y-variable-exponent-1"></span></sup><!--
                    -->)<!--
                    -->(<!--
                    --><span class="x-variable-constant-2"></span><!--
                    -->x<!--
                    --><sup><span class="x-variable-exponent-2"></span></sup><!--
                    --><span class="y-variable-constant-2"></span><!--
                    -->y<!--
                    --><sup><span class="y-variable-exponent-2"></span></sup><!--
                    -->)
                </div>
                <div class="has-denominator">
                    <span class="has-expression-exponent outer-expression-parentheses left-side-expression-parenthese">(</span><!--
                    --><div id="has-denominator-expression-{{id}}" class="inline-block"><!--
                        --><div class="numerator"><!--
                            -->(<!--
                            --><span class="x-variable-constant-1"></span><!--
                            -->x<!--
                            --><sup><span class="x-variable-exponent-1"></span></sup><!--
                            --><span class="y-variable-constant-1"></span><!--
                            -->y<!--
                            --><sup><span class="y-variable-exponent-1"></span></sup><!--
                            -->)<!--
                        --></div><!--
                        --><div><!--
                            -->(<!--
                            --><span class="x-variable-constant-2"></span><!--
                            -->x<!--
                            --><sup><span class="x-variable-exponent-2"></span></sup><!--
                            --><span class="y-variable-constant-2"></span><!--
                            -->y<!--
                            --><sup><span class="y-variable-exponent-2"></span></sup><!--
                            -->)<!--
                        --></div><!--
                    --></div><!--
                    --><span class="has-expression-exponent left-side-expression-parenthese"><!--
                        --><span class="outer-expression-parentheses">)</span><!--
                        --><sup><span id="left-side-expression-exponent-{{id}}" class="expression-exponent outer-expression-exponent"></span></sup><!--
                    --></span>
                </div>
                <div class="no-denominator-has-exponent">
                    (<!--
                    --><span class="x-variable-constant-1"></span><!--
                    -->x<!--
                    --><sup><span class="x-variable-exponent-1"></span></sup><!--
                    -->y<!--
                    --><sup><span class="y-variable-exponent-1"></span></sup><!--
                    -->)<!--
                    --><sup><span class="expression-exponent"></span></sup>
                </div>
            </td>
            <td class="equal-sign">=</td>
            <td>
                <div class="final-answer">
                    <span class="has-expression-exponent outer-expression-parentheses">(</span><!--
                    --><div id="right-side-expression-{{id}}" class="inline-block"><!--
                        --><input type="text" size="3" maxlength="3" id="final-answer-constant-{{id}}"></input><!--
                        -->x<!--
                        --><div class="superscript-input"><input type="text" size="3" maxlength="3" id="final-answer-x-variable-exponent-{{id}}"></input></div><!--
                        -->y<!--
                        --><div class="superscript-input"><input type="text" size="3" maxlength="3" id="final-answer-y-variable-exponent-{{id}}"></input></div><!--
                    --></div><!--
                    --><span class="has-expression-exponent"><!--
                        --><span class="outer-expression-parentheses">)</span><!--
                        --><sup><span class="expression-exponent outer-expression-exponent"></span></sup><!--
                    --></span>
                </div>
            </td>
        </tr>
    </table>
</div>