{{!
    Explain that the user's answer is wrong. Give hints on how user can manipulate proposition.
    @param {String} userAnswer The user's answer.
    @param {String} expectedAnswer The expected answer.
    @param {String} operatorsName 'laws' or 'properties' depending on what type of expression this progression is.
    @param {String} expressionOrProposition 'expression' or 'proposition' depending on what type of expression this progression is.
}}
Select a {{operatorsName}}, then apply that {{operatorsName}} to your {{expressionOrProposition}}. Continue until you transform {{{userAnswer}}} to {{{expectedAnswer}}}
<div>
    <button class='md-button compact show-me-how'>Show me how</button>
</div>
