<span class="line-of-code">int x = {{xValue1}};</span>
<span class="line-of-code">int y = {{yValue1}};</span>
<span class="line-of-code">int z = {{zValue1}};</span>
<span class="line-of-code code-to-reveal">x = {{xValue2}};</span>
<span class="line-of-code code-to-reveal">y = {{yValue2}};</span>
<span class="line-of-code code-to-reveal">z = {{zValue2}};</span>
<span class="line-of-code code-to-reveal">x = {{xValue3}};</span>