<div class='table-container'>
    <div class='left-size-code-and-table'>
        <p class='table-label'>&nbsp;</p>
        <div class='code trace-value-code'></div>
        <div class='table-of-variables'>
            <table class='value-table'>
                <tbody><tr>
                    <td colspan='3' class='centered'>x is</td>
                </tr>
                <tr>
                    <td><input id='xValue1{{id}}' type='radio' name='xValues{{id}}' value='3' disabled=''><label for='xValue1{{id}}'>3</label></td>
                    <td><input id='xValue2{{id}}' type='radio' name='xValues{{id}}' value='7' disabled=''><label for='xValue2{{id}}'>7</label></td>
                    <td><input id='xValue3{{id}}' type='radio' name='xValues{{id}}' value='8' disabled=''><label for='xValue3{{id}}'>8</label></td>
                </tr>
            </tbody></table>

            <table class='value-table'>
                <tbody><tr>
                    <td colspan='3' class='centered'>y is</td>
                </tr>
                <tr>
                    <td><input id='yValue1{{id}}' type='radio' name='yValues{{id}}' value='8' disabled=''><label for='yValue1{{id}}'>8</label></td>
                    <td><input id='yValue2{{id}}' type='radio' name='yValues{{id}}' value='5' disabled=''><label for='yValue2{{id}}'>5</label></td>
                    <td><input id='yValue3{{id}}' type='radio' name='yValues{{id}}' value='3' disabled=''><label for='yValue3{{id}}'>3</label></td>
                </tr>
            </tbody></table>

            <table class='value-table'>
                <tbody><tr>
                    <td colspan='3' class='centered'>z is</td>
                </tr>
                <tr>
                    <td><input id='zValue1{{id}}' type='radio' name='zValues{{id}}' value='3' disabled=''><label for='zValue1{{id}}'>3</label></td>
                    <td><input id='zValue2{{id}}' type='radio' name='zValues{{id}}' value='8' disabled=''><label for='zValue2{{id}}'>8</label></td>
                    <td><input id='zValue3{{id}}' type='radio' name='zValues{{id}}' value='1' disabled=''><label for='zValue3{{id}}'>1</label></td>
                </tr>
            </tbody></table>
        </div>
    </div>

    <div class='solution'>
        <p class='table-label'>Solution</p>
        <table class='value-table'>
            <tbody><tr>
                <td colspan='3' class='centered'>x is</td>
            </tr>
            <tr>
                <td><input id='correctXValue1{{id}}' type='radio' name='correctXValues' value='3' disabled=''><label for='correctXValue1{{id}}'>3</label></td>
                <td><input id='correctXValue2{{id}}' type='radio' name='correctXValues' value='7' disabled=''><label for='correctXValue2{{id}}'>7</label></td>
                <td><input id='correctXValue3{{id}}' type='radio' name='correctXValues' value='8' disabled=''><label for='correctXValue3{{id}}'>8</label></td>
            </tr>
        </tbody></table>

        <table class='value-table'>
            <tbody><tr>
                <td colspan='3' class='centered'>y is</td>
            </tr>
            <tr>
                <td><input id='correctYValue1{{id}}' type='radio' name='correctYValues' value='8' disabled=''><label for='correctYValue1{{id}}'>8</label></td>
                <td><input id='correctYValue2{{id}}' type='radio' name='correctYValues' value='5' disabled=''><label for='correctYValue2{{id}}'>5</label></td>
                <td><input id='correctYValue3{{id}}' type='radio' name='correctYValues' value='3' disabled=''><label for='correctYValue3{{id}}'>3</label></td>
            </tr>
        </tbody></table>

        <table class='value-table'>
            <tbody><tr>
                <td colspan='3' class='centered'>z is</td>
            </tr>
            <tr>
                <td><input id='correctZValue1{{id}}' type='radio' name='correctZValues' value='3' disabled=''><label for='correctZValue1{{id}}'>3</label></td>
                <td><input id='correctZValue2{{id}}' type='radio' name='correctZValues' value='8' disabled=''><label for='correctZValue2{{id}}'>8</label></td>
                <td><input id='correctZValue3{{id}}' type='radio' name='correctZValues' value='1' disabled=''><label for='correctZValue3{{id}}'>1</label></td>
            </tr>
        </tbody></table>
    </div>
</div>
