<table style="border: 0px">
    <tbody>
        <tr>
            <th width="325px;">
                <b>Code is:</b>
            </th>
            <th>
            </th>
            <th width="200px;">
                <b>Output is:</b>
            </th>
        </tr>
        <tr>
            <td>
                <div class="code">rowEx <span style="color:#808030; ">=</span> <span style="color:#808030; ">[</span><span style="color:#008c00; ">0</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">1</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">2</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">3</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">5</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">7</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">11</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">13</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">17</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">19</span><span style="color:#808030; ">]</span><span style="color:#800080; ">;</span><br/>rowIdx <span style="color:#808030; ">=</span> <span style="color:#808030; ">[</span>
                    <input id="{{id}}_intRowArr_elem1" class="row-array-elem" type="text" value="2" maxlength="2"/><span style="color:#808030; ">,</span>
                    <input id="{{id}}_intRowArr_elem2" class="row-array-elem" type="text" value="3" maxlength="2"/><span style="color:#808030; ">,</span>
                    <input id="{{id}}_intRowArr_elem3" class="row-array-elem" type="text" value="4" maxlength="2"/><span style="color:#808030; ">,</span>
                    <input id="{{id}}_intRowArr_elem4" class="row-array-elem" type="text" value="5" maxlength="2"/><span style="color:#808030; ">,</span>
                    <input id="{{id}}_intRowArr_elem5" class="row-array-elem" type="text" value="6" maxlength="2"/><span style="color:#808030; ">]</span><span style="color:#800080; ">;</span><br/>smallRow <span style="color:#808030; ">=</span> rowEx<span style="color:#808030; ">(</span> rowIdx <span style="color:#808030; ">)</span><span style="color:#800080; ">;</span>
                </div>
            </td>
            <td>
                <button id="{{id}}_intRowArr_runButton" class="button">Run</button>
            </td>
            <td>
                <div id="{{id}}_intRowArr_output" class="console">Awaiting your input...</div>
            </td>
        </tr>
    </tbody>
</table>