<div id='{{animationID}}_hype_container' style='position: relative; overflow: hidden; width: {{width}}px; height: {{height}}px;' aria-hidden='true'>
  <script charset='utf-8' type='text/javascript' defer='defer' src='{{animationFile}}'></script>
</div>
{{{captionsAreaHTML}}}