<div class="canvasRegion">
    <p id="instructions_{{id}}" class="instructionExplanationArea"></p>
    <canvas id="userInputVenn_{{id}}" class="vennDiag" width="300" height="200"></canvas>
</div>

<div id="solutionRegion_{{id}}" class="canvasRegion">
    <p id="explanations_{{id}}" class="instructionExplanationArea"></p>
    <canvas id="correctAnswerVenn_{{id}}" class="vennDiag" width="300" height="200"></canvas>
</div>