<div class='rims-c-code'>
<textarea class='rims-c-code-text'></textarea>
<button class='rims-c-code-close button'>Close</button>
</div>
<div id='SMToolContainer_{{id}}' class='zy-sm-sim'>
{{#if isProgressionTool}}
    <div id='progressionPrompt_{{id}}' class='progression-prompt'></div>
{{/if}}
<div id='controls_{{id}}' class='controls'>
    <button id='simulateButton_{{id}}' type='button' class='button simulate-margin'>Start</button>
    <button id='pauseButton_{{id}}' type='button' class='button pause-margin'>Pause</button>
    <!--Carson 8/7/2021-->
    <div class='speed-container'>
                    <div class='speed-label'>Simulation speed:</div>
                    <select id='speed-choice'>
                        <option value='4'>Slowest</option>
                        <option value='2'>Slow</option>
                        <option value='1' selected>Normal</option>
                        <option value='.5'>Fast</option>
                        <option value='.25'>Fastest</option>
                    </select>
    </div>

    <button id='insertStateButton_{{id}}' type='button' class='button insert-state-button'>New state</button>
    <button id='insertTransitionButton_{{id}}' type='button' class='button insert-transition-button'>New transition</button>
    <button id='deleteButton_{{id}}' type='button' class='button delete-button'>Delete</button>
</div>

<div class='period-container'>
    <div class='period-label'>Period:</div><textarea id='period_{{id}}' class='period textfield' maxlength='6' rows='1'>1000</textarea><span class='ms-label'>ms</span>
</div>

<div class='middle-container'>
    <div id='inputContainer_{{id}}' class='input-menu'>
</div>
    <div id='canvasTab_{{id}}' class='canvas-tab'>
        {{#if isProgressionTool}}

        {{else}}
            <ul><li><a href='#drawingArea_{{id}}'>StateMachine1</a></li>
                <li><a href='#drawingArea_{{id}}'>+</a></li>
            </ul>
        {{/if}}
        <canvas id='drawingArea_{{id}}' width='550' height='330' class='sm-tool-canvas'></canvas>
    </div>
        <div id='outputContainer_{{id}}' class='output-container'></div>
    <div class='internal-variable-container'>
        <div id='internalBlockI_{{id}}' class='output-block'><div class='internal-variable-label'>Variables</div><div id='iLabel_{{id}}' class='output-label'>I(8)</div><input id='internalI_{{id}}' class='output-field' disabled='disabled' maxlength='3'></div>
        <div id='internalBlockJ_{{id}}' class='output-block'><div id='jLabel_{{id}}' class='output-label'>J(8)</div><input id='internalJ_{{id}}' class='output-field' disabled='disabled' maxlength='3'></div>
    </div>
    <div class='sidemenu sidemenu-margin'>
        <div class='state-info-label'>State/transition info</div>
        <div class='state-name-container'><div class='state-name-label'>Name</div><textarea id='stateName_{{id}}' class='state-name' maxlength='10'></textarea></div>
        </br>
        <div class='init-state-check'>
            <input type='checkbox' id='initStateCheck_{{id}}' value='init'>
            <label for='initStateCheck_{{id}}'>Initial state</label>
        </div>
        </br>
        <div id='stateActionsContainer_{{id}}' class='action-container'>Actions
            <textarea id='stateActions_{{id}}' class='action textfield'></textarea>
        </div>
        </br>
        <div id='stateConditionsContainer_{{id}}' class='condition-container'>Condition
            <textarea id='stateConditions_{{id}}' class='condition textfield'></textarea>
        </div>
    </div>
</div>

<div class='bottom-container'>
    <div class='error-console-container'>
        <p id='errorConsole_{{id}}' class='error-console' data-placeholder="Error messages will appear here." contenteditable></p>
    </div>
    <div class='timing-info'>
        <span class='tooltip-text'><strong>Timerbar: </strong>shows the % complete of each period</span>
        <span id='period-percent'>100%</span>
        <canvas id='timer-bar' width='200' height='20' style="background-color:#738033"></canvas>
    </div>
    <div class='size-controls-container'>
        <div class='minus-width'>
            <button id='minusWidth_{{id}}' type='button' class='button size-button'>-</button>
        </div>
        <div class='width-label'>
            <p>Width</p>
        </div>
        <div class='plus-width'>
            <button id='plusWidth_{{id}}' type='button' class='button size-button'>+</button>
        </div>
        <div class='minus-height'>
            <button id='minusHeight_{{id}}' type='button' class='button size-button'>-</button>
        </div>
        <div class='height-label'>
            <p>Height</p>
        </div>
        <div class='plus-height'>
            <button id='plusHeight_{{id}}' type='button' class='button size-button'>+</button>
        </div>
    </div>
    <div class='advanced-button-container'>
        <button id='advancedButton_{{id}}' type='button' class='button advanced-button'>Show advanced controls</button>
    </div>
</div>
<div class='advanced-controls-container'>
        <div class='test-vector-top-container'>
            <button id='testVectorButton_{{id}}' class='button test-vector-button'>Use test vectors</button>
        </div>
        <div class='test-vector-bottom-container'>
            <textarea id='testVectorWindow_{{id}}' class='test-vector-window textfield'></textarea>
        </div>
        <div class='export-import-top-container'>
            <button id='exportToRimsButton_{{id}}' class='export-to-rims-button button'>Export to RIMS</button>
            <button id='exportButton_{{id}}' type='button' class='button io-button'>Export</button>
            <button id='importButton_{{id}}' type='button' class='button io-button'>Import</button>
        </div>
        <div class='export-import-bottom-container'>
            <textarea id='JSONImportExport_{{id}}' class='JSON-import-export textfield' rows='4' cols='30' placeholder='Paste design here.'></textarea>
        </div>
        <div class='example-drop-top-container'>
            <p>Load an example state machine</p>
        </div>
        <div class='example-drop-bottom-container'>
            <select id='exampleDrop_{{id}}'>
            <option>Lo hi</option>
            <option>Flight attendant</option>
            <option>Pacemaker</option>
            </select><br/>
        </div>
    </div>
</div>
