<div class='rims-c-code'>
    <textarea class='rims-c-code-text'></textarea>
    <button class='rims-c-code-close button'>Close</button>
</div>
<div id='SMToolContainer_{{id}}' class='zy-sm-sim'>
    {{#if isProgressionTool}}
        <div id='progressionPrompt_{{id}}' class='progression-prompt'></div>
    {{/if}}
    <div id='controls_{{id}}' class='simulation-controls-grid'>
        <div class='start-button-container'>
            <button id='startButton_{{id}}' type='button' class='button start-button'>Start</button>
        </div>
        <div class='pause-button-container'>
            <button id='pauseButton_{{id}}' type='button' class='button pause-button'>Pause</button>
        </div>
        <div class='speed-container'>
            <div class='speed-label'>Simulation speed</div>
            <select id='speed-choice'>
                <option value='4'>Slowest (x0.25)</option>
                <option value='2'>Slow (x0.5)</option>
                <option value='1' selected>Normal (x1)</option>
                <option value='.5'>Fast (x2)</option>
                <option value='.25'>Fastest (x4)</option>
            </select>
        </div>
        <div class='instruction-console-container'>
            <p id='instructionConsole_{{id}}' class='instruction-console' data-placeholder="" onkeydown="return false" contenteditable></p>
        </div>
        <div class='new-state-container'>
            <button id='newStateButton_{{id}}' type='button' class='button new-state-button'>New<br>state</button>
        </div>
        <div class='new-transition-container'>
            <button id='newTransitionButton_{{id}}' type='button' class='button new-transition-button'>New<br>transition</button>
        </div>
        <div class='delete-button-container'>
            <button id='deleteButton_{{id}}' type='button' class='button delete-button'>Delete</button>
        </div>
    </div>
    <div id='middleGrid_{{id}}' class='middle-grid'>
        <div id='inputContainer_{{id}}' class='input-container'></div>
        <div id='canvasTab_{{id}}' class='canvas-tab'>
            <div class='period-container'>
                <div id='smPeriodLabel_{{id}}' class='sm-period-label'>Curr. SM</div>
                <div class='period-label'>period:</div>
                <textarea id='period_{{id}}' class='period-textfield' maxlength='6' rows='1'>1000</textarea>
                <span class='ms-label'>ms</span>
            </div>
            {{#if isProgressionTool}}

            {{else}}
                <ul id='tabsList_{{id}}' class='tabs-list'><li><a href='#drawingArea_{{id}}'>SM1</a></li>
                    <li><a href='#drawingArea_{{id}}'>+</a></li>
                </ul>
            {{/if}}
            <canvas id='drawingArea_{{id}}' width='600px' height='310px' class='sm-tool-canvas'></canvas>
        </div>
        <div id='outputContainer_{{id}}' class='output-container'></div>
        <div class='internal-variable-container'>
            <div id='internalBlockI_{{id}}' class='output-block'>
                <div class='internal-variable-label'>Variables</div>
                <div id='iLabel_{{id}}' class='output-label'>I(8)</div>
                <input id='internalI_{{id}}' class='output-field' disabled='disabled' maxlength='3'>
            </div>
            <div id='internalBlockJ_{{id}}' class='output-block'>
                <div id='jLabel_{{id}}' class='output-label'>J(8)</div>
                <input id='internalJ_{{id}}' class='output-field' disabled='disabled' maxlength='3'>
            </div>
        </div>
        <div id='sidemenuGrid_{{id}}' class='sidemenu-grid'>
            <div id='itemInfoLabel_{{id}}' class='item-info-label-start'></div>
            <div class='item-name-container'>
                <div id='stateNameLabel_{{id}}' class='item-name-label'>State name</div>
                <textarea id='stateName_{{id}}' class='item-name' maxlength='10'></textarea>
            </div>
            <div class='init-state-check'>
                <label id='initStateLabel_{{id}}' for='initStateCheck_{{id}}'>Initial state?</label>
                <input type='checkbox' id='initStateCheck_{{id}}' value='init'>
            </div>
            <div id='stateActionsContainer_{{id}}' class='actions-container'>
                <p id='actionsLabel_{{id}}' class='actions-label'>Actions</p>
                <textarea id='stateActions_{{id}}' class='action textfield'></textarea>
            </div>
            <div id='stateConditionsContainer_{{id}}' class='condition-container'>
                <p id='conditionLabel_{{id}}'class='condition-label'>Condition</p>
                <textarea id='stateConditions_{{id}}' class='condition textfield'></textarea>
            </div>
        </div>
    </div>
    <div class='bottom-container'>
        <div class='timer-grid'>
            <div class='timer-bar-container'>
                <span class='tooltip-text'><strong>Timerbar:</strong> displays the currently completed % of the timer's period</span>
                <span id='periodPercent'>100%</span>
                <canvas id='timerBar' width='200' height='20' style="background-color:#738033"></canvas>
            </div>
            <div class='elapsed-time-container'>
                <span>Total elapsed time: </span>
                <span id='elapsedSimTime_{{id}}'>0</span>
                <span>ms</span>
            </div>
        </div>
        <div class='error-console-container'>
            <p id='errorConsole_{{id}}' class='error-console' data-placeholder="Any error messages will appear here." onkeydown="return false" contenteditable></p>
        </div>
        <div class='size-controls-grid'>
            <div class='minus-width'>
                <button id='minusWidth_{{id}}' type='button' class='button size-button'>-</button>
            </div>
            <div class='width-label'>
                <p>Width</p>
            </div>
            <div class='plus-width'>
                <button id='plusWidth_{{id}}' type='button' class='button size-button'>+</button>
            </div>
            <div class='minus-height'>
                <button id='minusHeight_{{id}}' type='button' class='button size-button'>-</button>
            </div>
            <div class='height-label'>
                <p>Height</p>
            </div>
            <div class='plus-height'>
                <button id='plusHeight_{{id}}' type='button' class='button size-button'>+</button>
            </div>
        </div>
        <div class='advanced-button-container'>
            <button id='advancedButton_{{id}}' type='button' class='button advanced-button'>Show advanced controls</button>
        </div>
    </div>
    <div class='advanced-controls-grid'>
        <div class='test-vector-top-container'>
            <button id='testVectorButton_{{id}}' class='button test-vector-button'>Use test vectors</button>
        </div>
        <div class='test-vector-bottom-container'>
            <textarea id='testVectorWindow_{{id}}' class='test-vector-window textfield'></textarea>
        </div>
        <div class='export-import-top-container'>
            <button id='exportToRimsButton_{{id}}' class='export-to-rims-button button'>Export to RIMS</button>
            <button id='exportButton_{{id}}' type='button' class='button io-button'>Export</button>
            <button id='importButton_{{id}}' type='button' class='button io-button'>Import</button>
        </div>
        <div class='export-import-bottom-container'>
            <textarea id='JSONImportExport_{{id}}' class='JSON-import-export textfield' rows='4' cols='30' placeholder='Paste design here.'></textarea>
        </div>
        <div class='example-drop-top-container'>
            <p>Load an example SM</p>
        </div>
        <div class='example-drop-bottom-container'>
            <select id='exampleDrop_{{id}}'>
                <option>Lo hi</option>
                <option>Flight attendant</option>
                <option>Pacemaker</option>
            </select>
            <br/>
        </div>
    </div>
</div>
