<div class='user-prompt'></div>
<div class='fsm-container'>
	<div class='upper-states'>
		<div class='s0'>
			<div class='init-state'/>
			<div class='init-state-arrow'/>
			<div id='s0SelfTransition_{{id}}' class='self-transition-right'>
				<div id='s0SelfTransitionLabel_{{id}}' class='self-label-right'>b</div>
				<div class='self-transition-arrow-right'/>
			</div>
			<div id='s0_{{id}}' class='state'>
				<div id='s0Label_{{id}}' class='state-label'>s0</div>
				<div id='s0Encoding_{{id}}' class='state-encoding'>00</div>
			</div>
			<div id='s0Action_{{id}}' class='state-action-s0'>y = 0</div>
			<div id='s0s1Transition_{{id}}' class='transition-container'>
				<div class='horizontal-transition-top'></div>
				<div class='horizontal-transition-top-arrow'></div>
				<div id='s0s1TransitionLabel_{{id}}' class='horizontal-transition-top-label'>b</div>
			</div>
			<div id='s2s0Transition_{{id}}' class='transition-container'>
				<div class='vertical-transition-left'></div>
				<div class='vertical-transition-left-arrow'></div>
				<div id='s2s0TransitionLabel_{{id}}' class='vertical-transition-left-label'>b</div>
			</div>
			<div id='s0s3Transition_{{id}}' class='transition-container'>
				<div class='diagonal-transition-top'></div>
				<div class='diagonal-transition-top-arrow'></div>
				<div id='s0s3TransitionLabel_{{id}}' class='diagonal-transition-top-label'>b</div>
			</div>
		</div>
		<div class='s1'>
			<div id='s1SelfTransition_{{id}}' class='self-transition-right'>
				<div id='s1SelfTransitionLabel_{{id}}' class='self-label-right'>b</div>
				<div class='self-transition-arrow-right'/>
			</div>
			<div id='s1_{{id}}' class='state'>
				<div id='s1Label_{{id}}' class='state-label'>s1</div>
				<div id='s1Encoding_{{id}}' class='state-encoding'>01</div>
			</div>
			<div id='s1Action_{{id}}' class='state-action-s1'>y = 0</div>
			<div id='s1s0Transition_{{id}}' class='transition-container'>
				<div class='horizontal-transition-bottom'></div>
				<div class='horizontal-transition-bottom-arrow'></div>
				<div id='s1s0TransitionLabel_{{id}}' class='horizontal-transition-bottom-label'>b</div>
			</div>
			<div id='s3s1Transition_{{id}}' class='transition-container'>
				<div class='vertical-transition-left'></div>
				<div class='vertical-transition-left-arrow'></div>
				<div id='s3s1TransitionLabel_{{id}}' class='vertical-transition-left-label'>b</div>
			</div>
			<div id='s2s1Transition_{{id}}' class='transition-container'>
				<div class='diagonal-transition2-top'></div>
				<div class='diagonal-transition2-top-arrow'></div>
				<div id='s2s1TransitionLabel_{{id}}' class='diagonal-transition2-top-label'>b</div>
			</div>
		</div>
	</div>
	<div class='lower-states'>
		<div class='s2'>
			<div id='s2SelfTransition_{{id}}' class='self-transition-left'>
				<div id='s2SelfTransitionLabel_{{id}}' class='self-label-left'>b</div>
				<div class='self-transition-arrow-left'/>
			</div>
			<div id='s2_{{id}}' class='state'>
				<div id='s2Label_{{id}}' class='state-label'>s2</div>
				<div id='s2Encoding_{{id}}' class='state-encoding'>10</div>
			</div>
			<div id='s2Action_{{id}}' class='state-action-s2'>y = 0</div>
			<div id='s2s3Transition_{{id}}' class='transition-container'>
				<div class='horizontal-transition-top'></div>
				<div class='horizontal-transition-top-arrow'></div>
				<div id='s2s3TransitionLabel_{{id}}' class='horizontal-transition-top-label'>b</div>
			</div>
			<div id='s0s2Transition_{{id}}' class='transition-container'>
				<div class='vertical-transition-right'></div>
				<div class='vertical-transition-right-arrow'></div>
				<div id='s0s2TransitionLabel_{{id}}' class='vertical-transition-right-label'>b</div>
			</div>
			<div id='s1s2Transition_{{id}}' class='transition-container'>
				<div class='diagonal-transition2-bottom'></div>
				<div class='diagonal-transition2-bottom-arrow'></div>
				<div id='s1s2TransitionLabel_{{id}}' class='diagonal-transition2-bottom-label'>b</div>
			</div>
		</div>
		<div class='s3'>
			<div id='s3SelfTransition_{{id}}' class='self-transition-right'>
				<div id='s3SelfTransitionLabel_{{id}}' class='self-label-right'>b</div>
				<div class='self-transition-arrow-right'/>
			</div>
			<div id='s3_{{id}}' class='state'>
				<div id='s3Label_{{id}}' class='state-label'>s3</div>
				<div id='s3Action_{{id}}' class='state-action'>y = 0</div>
			</div>
			<div id='s3s2Transition_{{id}}' class='transition-container'>
				<div class='horizontal-transition-bottom'></div>
				<div class='horizontal-transition-bottom-arrow'></div>
				<div id='s3s2TransitionLabel_{{id}}' class='horizontal-transition-bottom-label'>b</div>
			</div>
			<div id='s1s3Transition_{{id}}' class='transition-container'>
				<div class='vertical-transition-right'></div>
				<div class='vertical-transition-right-arrow'></div>
				<div id='s1s3TransitionLabel_{{id}}' class='vertical-transition-right-label'>b</div>
			</div>
			<div id='s3s0Transition_{{id}}' class='transition-container'>
				<div class='diagonal-transition-bottom'></div>
				<div class='diagonal-transition-bottom-arrow'></div>
				<div id='s3s0TransitionLabel_{{id}}' class='diagonal-transition-bottom-label'>b</div>
			</div>
		</div>
	</div>
</div>
<table class='state-name-table'>
	<tbody>
		<tr>
			<td rowspan='2' id='s0Name_{{id}}' class='state-name'>s0</td>
		</tr>
		<tr></tr>
		<tr>
			<td rowspan='2' id='s1Name_{{id}}' class='state-name'>s1</td>
		</tr>	
		<tr></tr>
		<tr>
			<td rowspan='2' id='s2Name_{{id}}' class='state-name'>s2</td>
		</tr>	
		<tr></tr>
		<tr>
			<td rowspan='2' id='s3Name_{{id}}' class='state-name'>Unused</td>
		</tr>	
		<tr></tr>	
	</tbody>
</table>
<table class='truth-table'>
	<tbody>
		<tr> 
			<th>p1</th>
			<th>p0</th>
			<th>b</th>
			<th class='previous-next-separator'>n1</th>
			<th>n0</th>
			<th>y</th>
		</tr>
		<tr> 
			<td class='truth-table-cell s0-table p1'>0</td>
			<td class='truth-table-cell s0-table p0'>0</td>
			<td class='truth-table-cell s0-table b'>0</td>
			<td class='truth-table-cell previous-next-separator s0-table n1'>0</td>
			<td class='truth-table-cell s0-table n0'>0</td>
			<td class='truth-table-cell s0-table y'>0</td>
		</tr>
		<tr> 
			<td class='truth-table-cell editable s0-table p1'><div></div></td>
			<td class='truth-table-cell editable s0-table p0'><div></div></td>
			<td class='truth-table-cell editable s0-table b'><div></div></td>
			<td class='truth-table-cell previous-next-separator editable s0-table n1'><div></div></td>
			<td class='truth-table-cell editable s0-table n0'><div></div></td>
			<td class='truth-table-cell editable s0-table y'><div></div></td>
		</tr>
		<tr> 
			<td class='truth-table-cell s1-table p1'>0</td>
			<td class='truth-table-cell s1-table p0'>1</td>
			<td class='truth-table-cell s1-table b'>0</td>
			<td class='truth-table-cell previous-next-separator s1-table n1'>0</td>
			<td class='truth-table-cell s1-table n0'>0</td>
			<td class='truth-table-cell s1-table y'>0</td>
		</tr>
		<tr> 
			<td class='truth-table-cell editable s1-table p1'><div></div></td>
			<td class='truth-table-cell editable s1-table p0'><div></div></td>
			<td class='truth-table-cell editable s1-table b'><div></div></td>
			<td class='truth-table-cell previous-next-separator editable s1-table n1'><div></div></td>
			<td class='truth-table-cell editable s1-table n0'><div></div></td>
			<td class='truth-table-cell editable s1-table y'><div></div></td>
		</tr>
		<tr> 
			<td class='truth-table-cell s2-table p1'>1</td>
			<td class='truth-table-cell s2-table p0'>0</td>
			<td class='truth-table-cell s2-table b'>0</td>
			<td class='truth-table-cell previous-next-separator s2-table n1'>0</td>
			<td class='truth-table-cell s2-table n0'>0</td>
			<td class='truth-table-cell s2-table y'>0</td>
		</tr>
		<tr> 
			<td class='truth-table-cell editable s2-table p1'><div></div></td>
			<td class='truth-table-cell editable s2-table p0'><div></div></td>
			<td class='truth-table-cell editable s2-table b'><div></div></td>
			<td class='truth-table-cell previous-next-separator editable s2-table n1'><div></div></td>
			<td class='truth-table-cell editable s2-table n0'><div></div></td>
			<td class='truth-table-cell editable s2-table y'><div></div></td>
		</tr>
		<tr> 
			<td class='truth-table-cell s3-table p1'>1</td>
			<td class='truth-table-cell s3-table p0'>1</td>
			<td class='truth-table-cell s3-table b'>0</td>
			<td class='truth-table-cell previous-next-separator s3-table n1'>0</td>
			<td class='truth-table-cell s3-table n0'>0</td>
			<td class='truth-table-cell s3-table y'>0</td>
		</tr>
		<tr> 
			<td class='truth-table-cell editable s3-table p1'><div></div></td>
			<td class='truth-table-cell editable s3-table p0'><div></div></td>
			<td class='truth-table-cell editable s3-table b'><div></div></td>
			<td class='truth-table-cell previous-next-separator editable s3-table n1'><div></div></td>
			<td class='truth-table-cell editable s3-table n0'><div></div></td>
			<td class='truth-table-cell editable s3-table y'><div></div></td>
		</tr>
	</table>
</table>