<div class="expression-area">
    <table>
        <tr>
            <td>
                <div class="add-terms">
                    <div>x<sup class="first-number-to-randomize"></sup>x<sup class="second-number-to-randomize"></sup></div>
                </div>
                <div class="subtract-terms">
                    <div class="numerator">
                        x<sup class="first-number-to-randomize"></sup>
                    </div>
                    <div>
                        x<sup class="second-number-to-randomize"></sup>
                    </div>
                </div>
                <div class="multiple-terms">
                    <div>(x<sup class="first-number-to-randomize"></sup>)<sup><sup class="second-number-to-randomize"></sup></sup></div>
                </div>
                <div class="terms-add-to-zero">
                    <div>x<sup class="first-number-to-randomize"></sup>x<sup class="second-number-to-randomize"></sup></div>
                </div>
                <div class="combine-like-terms-only-constant">
                    <div><span class="first-number-to-randomize"></span>x<sup>5</sup> + <span class="second-number-to-randomize"></span>x<sup>5</sup></div>
                </div>
                <div class="combine-like-terms-constant-and-exponent">
                    <div><span class="first-number-to-randomize"></span>x<sup>3</sup> + <span class="second-number-to-randomize"></span>x<sup>3</sup></div>
                </div>
            </td>
            <td class="equal-sign">=</td>
            <td class="right-hand-side-of-equation">
                <div class="exponent-answer inline-block"><!--
                    -->x<!--
                    --><div class="superscript-input">
                        <input type="text" size="3" maxlength="3" id="exponent-input-{{id}}"/>
                    </div>
                </div>
                <div class="constant-answer inline-block">
                    <input type="text" size="3" maxlength="3" id="constant-input-{{id}}"/>
                </div>
                <div class="constant-answer-with-term">
                    <input type="text" size="2" maxlength="2" id="constant-input-from-constant-only-{{id}}"/><!--
                    -->x<sup>5</sup>
                </div>
                <div class="exponent-constant-answer inline-block">
                    <input type="text" size="2" maxlength="2" id="constant-input-from-exponent-constant-answer-{{id}}"/><!--
                    -->x<!--
                    --><div class="superscript-input">
                        <input type="text" size="3" maxlength="3" id="exponent-input-from-exponent-constant-answer-{{id}}"/>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>