<table>
    <tbody>
        <tr>
            <td>{{{starterEquationLeftSide}}}</td>
            <td> = </td>
            <td>{{{starterEquationRightSide}}}</td>
        </tr>
        <tr class='border-across-bottom'>
            <td class='right-align'>+{{{adjustmentValue}}}</td>
            <td></td>
            <td>+{{{adjustmentValue}}}</td>
        </tr>
        <tr>
            <td>{{{answerEquationLeftSide}}}</td>
            <td> = </td>
            <td>{{{answerEquationRightSide}}}</td>
        </tr>
    </tbody>
</table>