<table>
    <tbody>
        <tr>
            <td class='border-across-bottom'>{{{starterEquationLeftSide}}}</td>
            <td> = </td>
            <td class='border-across-bottom'>{{{starterEquationRightSide}}}</td>
        </tr>
        <tr>
            <td class='center-align'>{{{adjustmentValue}}}</td>
            <td></td>
            <td>{{{adjustmentValue}}}</td>
        </tr>
        <tr>
            <td class='right-align'>{{{answerEquationLeftSide}}}</td>
            <td> = </td>
            <td>{{{answerEquationRightSide}}}</td>
        </tr>
    </tbody>
</table>