<table>
    <tbody>
        <tr>
            <td class='right-align'>{{{starterEquationLeftSide}}}</td>
            <td> = </td>
            <td>{{{starterEquationRightSide}}}</td>
        </tr>
        <tr>
            <td>-1 &middot; ({{{starterEquationLeftSide}}})</td>
            <td> = </td>
            <td>-1 &middot; ({{{starterEquationRightSide}}})</td>
        </tr>
        <tr>
            <td class='right-align'>{{{answerEquationLeftSide}}}</td>
            <td> = </td>
            <td>{{{answerEquationRightSide}}}</td>
        </tr>
    </tbody>
</table>